jupyterlab>=4.2
notebook>=7.2
ipykernel>=6.29
numpy>=1.26
pandas>=2.2
scipy>=1.13
scikit-learn>=1.5
librosa>=0.10
soundfile>=0.12
matplotlib>=3.9
seaborn>=0.13
tqdm>=4.66
requests>=2.32
pyyaml>=6.0
torch>=2.3
torchaudio>=2.3
torchvision>=0.18
pyaudioanalysis>=0.3.14
eyed3>=0.9.7
pydub>=0.25.1
